* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  padding: 20px;
}

.change-size {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
  background-color: rgb(195, 239, 245);
}

.main-grid {
  display: flex;
  justify-items: center;
}
.options{
  margin-left: 5%;
  padding-top: 20px;
  
  
}
.options h2{
  padding: 20px;
  text-align: center;
}

.options #clear{
  width:100%;

}


.grid-container {
  margin-left: auto;
  margin-right: 32%;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(36, 1fr);
  grid-template-rows: repeat(36, 1fr);
  width: 35vw;
  height: 35vw;

}

.square {
  border: 1px rgba(0, 0, 0, 0.1) solid;

}
